* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    transition: 0.4s ease-in-out;
    text-decoration: none;
    outline: none;
  
    font-family: "Nunito", sans-serif;
    user-select: none;
}

  .container {
    width: 100%;
    max-width: 1440px;
  
    margin: 0 auto;
  }
  
  header {
    margin-top: 40px;
    margin-left: 100px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .navigation nav {
    display: flex;
    gap: 28px;
    margin-left: 50px;
  }
  
  header .navigation nav a {
    color: black;
    font-size: 16px;
    font-weight: 400;
    position: relative;
  }
  
  header .navigation nav a:hover {
    color: orange;
  }

  .text {
    font-size:16px;
    font-weight: 400;
    color: #1C1C1C99;
    margin-left: 310px;
  }

  .text :hover {
    color: #FBBB00;
  }

  .text1 {
    font-size:16px;
    font-weight: 400;
    color: #1C1C1C99;
  }

  .text1 :hover {
    color: #FBBB00;
  }

  .text2 {
    font-size:16px;
    font-weight: 400;
    color: #1C1C1C99;
  }

  .text2 :hover {
    color: #FBBB00;
  }

  header .login button {
    width: 114px;
    height: 36px;
    border-radius: 32px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #FBBB00;
    color: white;
    box-shadow: 0px 0px 2px 0px #000000;
    margin-right: 70px;
  
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }
  
  header .login button:hover {
    color: #FBBB00;
    background-color: rgb(0, 0, 0); 
  }

  .mainstart {
    width: 1440px;
    height: 700px;
    background-color: #FBBB00;
    border-radius: 80px;
    margin-top: 80px;
  }

  .main-image {
    margin-left: 750px;
    padding-top: 100px;
  }

  .title {
    font-size: 35px;
    font-weight: 700;
    width: 600px;
    margin-top: -390px;
    margin-left: 70px;
  }

  .suptitle {
    font-size: 20px;
    font-weight: 300;
    width: 480px;
    margin-left: 70px;
    margin-top: 20px;
  }

  .login2 button {
    width: 212px;
    height: 48px;
    border-radius: 32px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #000000;
    color: #FBBB00;
    margin-top: 20px;
    margin-left: 70px;
  
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }
  
  .login2 button:hover {
    color: #000000;
    background-color: #FBBB00; 
  }

.grid-container * {
  border: 1px solid #FBBB00;
  border-radius: 40px;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 32px;
}



/*cetka*/

.grid-container {
  display: grid;
  grid-template-columns: 466px 466px 466px;
  grid-template-rows: 211px;
  gap: 20px;
}

.section-text {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  margin-top: 80px;
}

.sect-button button {
  display: flex;
  padding-top: 13px;
  padding-left: 18px;
  width: 172px;
  height: 44px;
  border-radius: 32px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 2px 0px #000000;
  margin-left: 1260px;
  margin-top: -50px;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.sect-button button:hover {
  color: #FBBB00;
  background-color: #000000; 
}

.card {
  width: 336px;
  height: 336px;
  background-color: #FBBB00;
  border-radius: 64px;
  margin-top: 50px;
}

.card-img {
margin-left: 70px;
}

.card-text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.card1 {
  width: 336px;
  height: 336px;
  background-color: #FBBB00;
  border-radius: 64px;
  margin-top: -336px;
  margin-left: 370px;
}

.card-img1 {
  margin-left: 70px;
  }

  .card-text1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
  }

  .card2 {
    width: 336px;
    height: 336px;
    background-color: #FBBB00;
    border-radius: 64px;
    margin-top: -336px;
    margin-left: 730px;
  }

  .card-img2 {
    margin-left: 50px;
    }

  .card-text2 {
    width: 252px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  margin-left: 35px;
}

.card3 {
  width: 336px;
  height: 336px;
  background-color: #FBBB00;
  border-radius: 64px;
  margin-top: -336px;
  margin-left: 1100px;
}

.card-img3 {
  margin-left: 50px;
  }

.card-text3 {
  width: 252px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  margin-left: 35px;
}

.sect-button1 button {
  width: 172px;
  height: 44px;
  border-radius: 32px;
  border: 1px solid #FBBB00;
  background-color: #000000;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 2px 0px #000000;
  margin-top: 30px;
  margin-left: 634px;


  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.sect-button1 button:hover {
  color: #000000;
  background-color: #FBBB00; 
}

.body-text {
  font-size: 32px;
  font-weight: 700;
  margin-top: 100px;
}

.img {
  display: grid;
  margin-top: 40px;
  border: 1px solid #FBBB00;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 220px;
  border-radius: 80px;
  justify-content: space-around;
  align-items: center;
}

.next-sect {
  width: 1440px;
  height: 428px;
  background-color: #FBBB00;
  border-radius: 80px;
  margin-top: 15px;
}

/* установим отступ 1rem от нижнего края элемента */
.text-field {
  margin-bottom: 1rem;
}
/* стили для label */
.text-field__label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 16px;
  font-weight: 400;
  margin-left: 840px;
  padding-top: 100px;
}
/* стили для input */
.text-field__input {
  display: block;
  width: 500px;
  height: 36px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  margin-left: 840px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #1C1C1C0A;
  background-clip: padding-box;
  border: 1px solid #1C1C1C66;
  border-radius: 32px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* установим отступ 1rem от нижнего края элемента */
.text-field3 {
  margin-bottom: 1rem;
}
/* стили для label */
.text-field__label3 {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 16px;
  font-weight: 400;
  margin-left: 840px;
}
/* стили для input */
.text-field__input3 {
  width: 240px;
  height: 36px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  margin-left: 840px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.5;
  color: #212529;
  background-color: #1C1C1C0A;
  background-clip: padding-box;
  border: 1px solid #1C1C1C66;
  border-radius: 32px;
  transition: border-color 0.15s ease-in-out, box-shaodw 0.15s ease-in-out;
}

/* установим отступ 1rem от нижнего края элемента */
.text-field2 {
  margin-bottom: 1rem;
}
/* стили для label */
.text-field__label2 {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 16px;
  font-weight: 400;
  margin-left: 1100px;
  margin-top: -59px;
}
/* стили для input */
.text-field__input2 {
  display: block;
  width: 240px;
  height: 36px;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  margin-left: 1100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #1C1C1C0A;
  background-clip: padding-box;
  border: 1px solid #1C1C1C66;
  border-radius: 32px;
  transition: border-color 0.15s ease-in-out, box-shaodw 0.15s ease-in-out;
}

.sect-button2 button {
  width: 226px;
  height: 52px;
  border-radius: 32px;
  border: 1px solid #FBBB00;
  background-color: #000000;
  color: #FBBB00;
  box-shadow: 0px 0px 2px 0px #000000;
  margin-top: 30px;
  margin-left: 1120px;


  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.sect-button2 button:hover {
  color: #000000;
  background-color: #ffffff; 
}

.body-title {
  font-size: 23px;
  font-weight: 700;
  width: 700px;
  margin-top: -210px;
  margin-left: 100px;
}

.suptitle {
  font-size: 20px;
  font-weight: 300;
  width: 640px;
  padding-left: 27px;
}

.galochka {
  display: flex;
  margin-left: 95px;
  margin-top: 30px;
}

.gal-text {
  font-size: 16px;
  font-weight: 300;
  margin-left: 130px;
  margin-top: -20px;
}

.FAQ {
  width: 1440px;
  height: 621px;
  border-radius: 80px;
  border: 1px solid #FBBB00;
  margin-top: 20px;
}

.faq-text {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  justify-content: center;
  padding-top: 70px;
}

.faq-title {
  font-size: 16px;
  font-weight: 700;
  color: #1C1C1C99;
  margin-left: 100px;
  margin-top: 40px;
}

.square button {
display: flex;
padding-left: 8px;
padding-top: 3px;
width: 28px;
height: 28px;
border-radius: 8px;
border: 1px solid #000000;
margin-left: 1230px;
margin-top: -27px;
}

.square button:hover {
  background-color: #000000;
  color: #FBBB00;
}

.square button::before {
  content: attr(text);
}

.square button:hover:before {
  content: attr(hover-text);
}

.faq-title1 {
  font-size: 16px;
  font-weight: 700;
  color: #1C1C1C99;
  margin-left: 100px;
  margin-top: 20px;
}

.square1 button {
  display: flex;
  padding-left: 8px;
  padding-top: 3px;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 1px solid #000000;
  margin-left: 1230px;
  margin-top: -27px;
  }
  
  .square1 button:hover {
    background-color: #000000;
    color: #FBBB00;
  }
  
  .square1 button::before {
    content: attr(text);
  }
  
  .square1 button:hover:before {
    content: attr(hover-text);
  }

  .faq-title2 {
    font-size: 16px;
    font-weight: 700;
    color: #1C1C1C99;
    margin-left: 100px;
    margin-top: 20px;
  }

  .square2 button {
    display: flex;
    padding-left: 8px;
    padding-top: 3px;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: 1px solid #000000;
    margin-left: 1230px;
    margin-top: -27px;
    }
    
    .square2 button:hover {
      background-color: #000000;
      color: #FBBB00;
    }
    
    .square2 button::before {
      content: attr(text);
    }
    
    .square2 button:hover:before {
      content: attr(hover-text);
    }

    .faq-title3 {
      font-size: 16px;
      font-weight: 700;
      color: #1C1C1C99;
      margin-left: 100px;
      margin-top: 20px;
    }
  
    .square3 button {
      display: flex;
      padding-left: 8px;
      padding-top: 3px;
      width: 28px;
      height: 28px;
      border-radius: 8px;
      border: 1px solid #000000;
      margin-left: 1230px;
      margin-top: -27px;
      }
      
      .square3 button:hover {
        background-color: #000000;
        color: #FBBB00;
      }
      
      .square3 button::before {
        content: attr(text);
      }
      
      .square3 button:hover:before {
        content: attr(hover-text);
      }


    .faq-title4 {
      width: 1110px;
      font-size: 16px;
      font-weight: 700;
      color: #1C1C1C99;
      margin-left: 100px;
      margin-top: 20px;
    }
  
    .square4 button {
      display: flex;
      padding-left: 8px;
      padding-top: 3px;
      width: 28px;
      height: 28px;
      border-radius: 8px;
      border: 1px solid #000000;
      margin-left: 1230px;
      margin-top: -37px;
      }
      
      .square4 button:hover {
        background-color: #000000;
        color: #FBBB00;
      }
      
      .square4 button::before {
        content: attr(text);
      }
      
      .square4 button:hover:before {
        content: attr(hover-text);
      }

      .faq-title5 {
        font-size: 16px;
        font-weight: 700;
        color: #1C1C1C99;
        margin-left: 100px;
        margin-top: 20px;
      }
    
      .square5 button {
        display: flex;
        padding-left: 8px;
        padding-top: 3px;
        width: 28px;
        height: 28px;
        border-radius: 8px;
        border: 1px solid #000000;
        margin-left: 1230px;
        margin-top: -27px;
        }
        
        .square5 button:hover {
          background-color: #000000;
          color: #FBBB00;
        }
        
        .square5 button::before {
          content: attr(text);
        }
        
        .square5 button:hover:before {
          content: attr(hover-text);
        }

      .faq-title6 {
        font-size: 16px;
        font-weight: 700;
        color: #1C1C1C99;
        margin-left: 100px;
        margin-top: 20px;
      }
    
      .square6 button {
        display: flex;
        padding-left: 8px;
        padding-top: 3px;
        width: 28px;
        height: 28px;
        border-radius: 8px;
        border: 1px solid #000000;
        margin-left: 1230px;
        margin-top: -27px;
        }
        
        .square6 button:hover {
          background-color: #000000;
          color: #FBBB00;
        }
        
        .square6 button::before {
          content: attr(text);
        }
        
        .square6 button:hover:before {
          content: attr(hover-text);
        }

.contact {
  width: 700px;
  height: 428px;
  border-radius: 80px;
  border: 1px solid #FBBB00;
  margin-top: 20px;
}

.contact-text {
  font-size: 32px;
  font-weight: 700;
  padding-top: 70px;
  margin-left: 70px;
}

.contact-suptext {
  font-size: 20px;
  font-weight: 300;
  width: 500px;
  margin-left: 70px;
  margin-top: 20px;
}

.gmail {
  display: flex;
  margin-top: 35px;
  margin-left: 70px;
}

.gmail-text {
  font-size: 20px;
  font-weight: 400;
  margin-left: 110px;
  margin-top: -22px;
}

.gmail1 {
  display: flex;
  margin-left: 70px;
}

.gmail-text1 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 110px;
  margin-top: -22px;
}

.phone-sect {
  display: flex;
  margin-left: 70px;
}

.phone-text {
  font-size: 20px;
  font-weight: 400;
  margin-left: 110px;
  margin-top: -22px;
}

.phone-sect1 {
  display: flex;
  margin-left: 70px;
}

.phone-text1 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 110px;
  margin-top: -22px;
}

.carta {
  margin-left: 725px;
  margin-top: -425px;
}



@media (max-width: 1200px) {
  .navigation nav a {
    margin-left: 15px;
  }
.text {
  margin-left: 60px;
}
.mainstart {
  width: 1150px;
  margin-left: 20px;
}
.main-image {
  margin-left: 650px;
}
.title {
  font-size: 30px;
}
.suptitle {
  font-size: 18px;
  width: 470px;
}
.grid-container * {
  font-size: 18px;
}
.grid-container {
  display: grid;
  margin-left: 20px;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 211px;
  gap: 20px;
}
.section-text {
  margin-left: 20px;
}
.card {
  width: 550px;
  margin-left: 20px;
}
.card-img {
  margin-left: 175px;
}
.card1 {
width: 550px;
margin-left: 600px;
}
.card-img1 {
  margin-left: 175px;
}
.card2 {
width: 550px;
margin-top: 50px;
margin-left: 20px;
}
.card-img2 {
  margin-left: 145px;
}
.card-text2 {
  width: 300px;
  margin-left: 110px;
}
.card3 {
  width: 550px;
  margin-left: 600px;
}
.card-img3 {
  margin-left: 145px;
}
.card-text3 {
  width: 300px;
  margin-left: 110px;
}
.sect-button1 {
  margin-left: -110px;
}
.body-text {
  margin-left: 20px;
}
.next-sect {
  margin-left: 20px;
  width: 1150px;
}
.text-field__label {
  padding-top: -20px;
}
.text-field__input {
  width: 240px;
}
.text-field__label2{
  margin-top: 20px;
  margin-left: 840px;
}
.text-field__input2 {
  margin-left: 840px;
}
.sect-button2 {
  margin-left: -280px;
  margin-top: -20px;
}
.body-title {
  margin-top: -290px;
}
.suptitle {
  margin-left: 70px;
  width: 600px;
}

.FAQ {
  width: 1150px;
  margin-left: 20px;
}

.faq-title4 {
  width: 760px;
}

.square {
  margin-left: -275px;
}
.square1 {
  margin-left: -275px;
}
.square2 {
  margin-left: -275px;
}
.square3 {
  margin-left: -275px;
}
.square4 {
  margin-left: -275px;
}
.square5 {
  margin-left: -275px;
}
.square6 {
  margin-left: -275px;
}

.contact {
  width: 1150px;
  height: 300px;
  margin-left: 20px;
}
.contact-text {
  display: flex;
  justify-content: center;
}
.contact-suptext {
 margin-left: 245px;
 width: 850px;
}
.gmail1 {
  margin-left: 740px;
  margin-top: -23px;
}
.gmail-text1 {
  margin-left: 780px;
}
.phone-sect1 {
  margin-left: 740px;
  margin-top: -23px;
}
.phone-text1 {
  margin-left: 780px;
}
.carta {
  margin-top: 30px;
  margin-left: 20px;
}
.sect-button {
  margin-left: -300px;
}
}

@media (max-width: 1000px) {
  .logotype {
    margin-left: -60px;
  }

  .navigation nav a {
    margin-left: -15px;
  }

  .text {
    margin-right: -10px;
  }
  .text1 {
    margin-right: -10px;
  }

  .mainstart {
    width: 900px;
  }
  .main-image {
    margin-left: 350px;
  }
  .title {
    font-size: 20px;
  }
  .suptitle {
    width: 400px;
    font-size: 14px;
    margin-left: 50px;
  }

  .grid-container * {
    width: 300px;
    font-size: 16px;
  }

  .a {
    margin-left: -20px;
  }

  .b {
    margin-left: -100px;
  }
  .c {
    margin-left: -180px;
  }

  .sect-button {
    margin-left: -500px;
  }

  .card {
    width: 440px;
  }
  .card-img {
    margin-left: 120px;
  }
  .card1 {
    width: 440px;
    margin-left: 510px;
  }

  .card-img1 {
    margin-left: 120px;
  }

  .card2 {
    width: 440px;
  }
  .card-text2 {
    margin-left: 70px;
  }
  .card-img2 {
    margin-left: 100px;
  }
  .card3 {
    width: 440px;
    margin-left: 510px;
  }
  .card-text3 {
    margin-left: 70px;
  }
  .card-img3 {
    margin-left: 100px;
  }
  .sect-button1 {
    margin-left: -230px;
  }
  .next-sect {
    width: 900px;
    margin-left: 40px;
    height: 728px;
  }

  .text-field__label {
    margin-left: 90px;
    padding-top: 350px;
  }
  .text-field__input {
    width: 700px;
    margin-left: 90px;
  }

  .text-field__label2{
    margin-left: 90px;
  }
  .text-field__input2 {
    width: 700px;
    margin-left: 90px;
  }
  .text-field__label3{
    margin-left: 90px;
  }
  .text-field__input3 {
    width: 700px;
    margin-left: 90px;
  }
  .sect-button2 {
    margin-left: -1030px;
  }

  .body-title {
    margin-top: -550px; 
  }

  .FAQ {
    margin-left: 40px;
    width: 900px;
  }
  .faq-title {
    font-size: 14px;
  }
  .faq-title1 {
    font-size: 14px;
  }
  .faq-title2 {
    font-size: 14px;
  }
  .faq-title3 {
    font-size: 14px;
  }
  .faq-title4 {
    width: 600px;
    font-size: 13px;
  }
  .faq-title5 {
    font-size: 14px;
  }
  .faq-title6 {
    font-size: 14px;
  }
  .square {
    margin-left: -520px;
  }
  .square1 {
    margin-left: -520px;
  }
  .square2 {
    margin-left: -520px;
  }
  .square3 {
    margin-left: -520px;
  }
  .square4 {
    margin-left: -520px;
  }
  .square5 {
    margin-left: -520px;
  }
  .square6 {
    margin-left: -520px;
  }
  .contact {
    width: 900px;
    margin-left: 40px;
  }
  .contact-suptext {
    font-size: 16px;
    width: 650px;
    margin-left: 180px;
  }
  .gmail1 {
    margin-left: 550px;
  }
  .gmail-text1 {
    margin-left: 590px;
  }
  .phone-sect1 {
    margin-left: 550px;
  }
  .phone-text1 {
    margin-left: 590px;
  }
}
